.cabpie {
    background-color: #9f3647;
    color: white;
    height: 59px;
    font-family: sans-serif;
    text-align: center;
   }
   ul {
    display: inline;
   }
li {
    display: inline;
}
body {
background-image: url("images/banner-bg2.jpg"); 
}
.seccion1 {
    font-family: monospace;
    color: white;
    text-align: center;
    font-size: 300%;
}
.buscador {
    background-color: #181419;
    color: white;
    height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 200%;
}
.fotos {
    margin: 2%;
}